body{
    background-color: aliceblue;
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-left: 30%;
}
.input-group{
    padding: 8px 60px;
    border-radius: 20px;
    margin: 15px 0px;
}
fieldset{
    margin: 40px 0px;
    border: 15px solid antiquewhite;
    background-color: aliceblue;
    border-radius: 30px;
}
legend{
    text-decoration: underline;
    font: 35px Arial sans-serif serif bold capitalize;
}
textarea{
    resize: none;
}
button, .buttons{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(207, 78, 100);
    color: white;
    font-size: 15px;
    border: none;
}
